:root{
  --color-primary: #F42E0A;
  --color-secondary:#2CC5F4;
  --color-background:#F3F3F3;
  --color-black:#290500;
  --color-opacity:70%;

  --step--2: clamp(0.6075rem, 0.4849rem + 0.613vw, 0.96rem);
  --step--1: clamp(0.7294rem, 0.5657rem + 0.8185vw, 1.2rem);
  --step-0: clamp(0.875rem, 0.6576rem + 1.087vw, 1.5rem);
  --step-1: clamp(1.05rem, 0.763rem + 1.4348vw, 1.875rem);
  --step-2: clamp(1.26rem, 0.883rem + 1.8848vw, 2.3438rem);
  --step-3: clamp(1.5119rem, 1.0186rem + 2.4663vw, 2.93rem);
  --step-4: clamp(1.8144rem, 1.1718rem + 3.213vw, 3.6619rem);
  --step-5: clamp(2.1775rem, 1.3427rem + 4.1739vw, 4.5775rem);
}

html{
  box-sizing: border-box;
  
  }
  
  *,*:before,*after {
      box-sizing: inherit;
  }
  
  html,body{
      height: 100%;
  }

  body{
    background-color: var(--color-background);
    overflow-x: hidden;
    font-family: "EB Garamond", serif;
    font-size: var(--step-2);
  }

  .main p{
    line-height: 1.7rem;
  }

  .container{
    overflow-x: hidden;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

   /*text hightlight*/

   p span{
    color:var(--color-primary);
    font-weight: 600;
  }
  

  /*menu*/
  .menu{
    z-index: 1000;
    position: fixed;
    bottom: 0vh;
    width: 100%;
    padding: 24px;
    max-width: 100vw;
    margin: 0 auto;
    border-top: var(--color-black) 7px solid;
    background-color: var(--color-background);
  }

  .menu__list{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
  }


  .menu__item {
    text-decoration: none;
    color: #040404;
    font-weight: 600;
  
    transition: opacity 200ms ease-in-out;
    overflow: hidden;
  }
  
  .menu__item::after {
    content: "";
    display: block;
  
    width: 0;
    height: 2px;
  
    margin-top: 2px;
    border-radius: 2px;
  
    background: #040404;
  
    transition: width 200ms ease-in-out;
  }
  
  .menu__item.nav--current::after,
  .menu__item:hover::after {
    width: 100%;
  }


  /*header*/
  .header__content{
    display:grid;
    grid-template-columns: 100vw;
    grid-template-rows: 50vh 40vh;
  }

  .header__img{
    grid-row:1 ;
   display: grid;
    grid-template-columns: 100Vw;
    grid-template-rows: 70vh; 
  }

  .header__title{
    margin-top: -10vh;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
  }

  .header__title span{
    font-style: italic;
    font-weight: 800;
    font-size: 4rem;

  }

  .header__sub{
    visibility: hidden;
  }

  .press{
    grid-column: 1;
    grid-row: 1;

    height: 60vh;
    margin-top: 15vh;
  }

  .pilars{
    grid-column: 1;
    grid-row: 1;
    height: 75vh;
    margin-top: -7vh;
    margin-left: -5vw;
  }

  .header__button{
    text-align: center;
    text-decoration: none;
    background-color: rgb(244,46,10, 70%);
    padding: 0.5rem;
    margin-top: -25vw;
    color: var(--color-background);

    font-style: italic;
    font-weight: 800;
    font-size: 3rem;
    height:4rem;

    margin-inline: 20vw;
  }

  /*paris*/
  em{
    font-style: italic;
  }

  .paris{
    margin-top:5rem;
    padding-top: 5rem;
  }

  .paris__intro{
    display:grid;
    grid-template-columns: 70% 30%; 
    grid-template-rows: 100%;

    margin-left: -20vw;
    margin-bottom: 2rem;
  }

  .paris__intro h2{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    width:80vw;
    margin-left: -45vw;
    margin-top:-10vh;
    font-size: 3rem;
    font-weight: 600;
  }

  .paris__intro h2 span{
    font-style: italic;
    font-weight: 800;
    font-size: 3.5rem;
  }

  .paris__intro img{
    grid-column: 1;
    grid-row: 1;
  }

  .paris__img{
    margin-left: -10vw;
  }

  .paris__intro p{
    grid-column: 1;
    grid-row: 1;
    rotate: -20deg;

    z-index: 1;

    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    line-height: 3rem;

    margin-left:35vw;
    margin-top: 22vh;
  }

  .paris__text{
    margin-inline: 1.5rem;
    width: 85vw;
    margin-bottom: 2rem;
  }

  /*paris outro interaction*/
 .interaction{
  display:grid;
  grid-template-columns:100vw;
  grid-template-rows: 50vh 10vh;
  margin-top: -10vh;
  text-align: center;
  align-items: center;

 }

  .trapezoid {
    grid-column: 1;
    grid-row: 3;
    border-bottom: solid transparent;
    border-Top: 15vh solid transparent;
    border-left: 100vw solid rgb(44,197,244, 80%);
    height: 70vw;
    transform: scaleX(-1);
  }

  .eifeltoren{
    grid-column: 1;
    grid-row: 1;
    margin-bottom: -14vh;
    margin-left:40vw ;
    z-index: -10;
    height: 80vh;
  }

  .paris__button{
    grid-column: 1;
    grid-row: 1;
    height:15vh;
    text-align: center;
    text-decoration: none;
    background-color: rgb(244,46,10, 70%);
    color: var(--color-background);

    font-weight: 800;
    font-size: 4rem;
    margin-inline: 35vw;

    margin-top: 15rem;
    margin-left: 15vw;

    width: 7rem;
    height: 5rem;

    rotate: 160deg;
  }

  .interaction__call{
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    font-size: 4.5rem;
    font-weight: 600;
    font-style: italic;

    rotate: -20deg;
  }

  .paris__outro{
    grid-column: 1;
    grid-row: 3;
    z-index: 1;
    margin-inline: 1.5rem;
    text-align: left;
    margin-top: 20vh;
    margin-bottom: 5rem;
  }

  .paris__outro span{
    color: var(--color-background);
  }

  /*family*/

  .family{
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 50vh 40vh;

    margin-bottom: 20vw;
  }

  .main__title{
    margin-left: 5vw;
    z-index: 3;
    
    width: 85vw;
    font-size: 3.5rem;
    font-weight: 600;
  }

  .main__title span{
    font-style: italic;
  }

  .family__img--a, .family__img--b{
    grid-column: 2;
    grid-row: 1;
  }

  .family__img--a{
    z-index: 1;
    margin-top: -10vw;
    margin-left: 10vw;
  }

  .family__img--b{
    z-index: 2;
   height: 20vh;
   margin-top: 40vw;
   margin-left: -10vw;
  }

  .family__text{
    grid-column: 1/3;
    grid-row: 2;
    margin-inline: 1.5rem;
  }

  /*workshop*/
.workshop__intro{
  display: grid;
  grid-template-columns: 150vw;
  grid-template-rows: 50vh 10vh;
}

.workshop__title, .workshop__img{
  grid-column: 1;
}

.workshop__title{
 grid-row: 2;

 width: 100vw;
 margin-left: 1.5rem;
 margin-top: -30vw;

 z-index: 1;

font-size: 3.5rem;
font-weight: 600;

}

.workshop__img{
 margin-left: -20vw;
  grid-row: 1;
}
.blue__eye{
  margin-top: -14vw;
}

.workshop p{
  margin-inline: 1.5rem;
  margin-bottom: 5rem;
}

.workshop__print{
  margin-left: 10vw;
  height: 50vh;
  margin-bottom: -10vh;
}

.workshop__planet{
  margin-left: 10vw;
  height: 40vh;
  margin-top: -50vh;
}

.workshop__text{
  margin-top: 15vh;
}

.workshop__paper--a{
  height:50vh;

  margin-top: -7vh;
  margin-bottom: -4vh;
}

.workshop__paper{
  height:50vh;
  margin-top:-100vh;
}

/*anwser*/
.answer{
  margin-top: 10vh;
}

.answer h2{
  font-size: 3rem;
  font-weight: 600;
  margin-inline: 2rem;
  margin-bottom: 2rem;
}

.answer__intro{
  margin-inline: 1.5rem;
  margin-bottom: 5rem;
}

.antwerp__img{
  display: grid;
  width: 200vw;
}

.answer__img{
  grid-row: 1;
  grid-column: 1;
  width: 200vw;
  margin-left: -50vw;
}

.anwser__outro{
  padding-block: 5rem;
  padding-inline: 1.5rem;
 margin-top: -0.5rem;
  background-color: rgb(44,197,244, 80%);
}

/* calls to action*/
.cta{
  margin-top: -5vh;
}

.cta img{
  margin-bottom: 10vh;
}

.cta h2{
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  margin-inline: 0.5rem;
  margin-bottom: 2rem;
}

.cta p{
  margin-inline: 1.5rem;
  margin-bottom: 5rem;
}
.cta__img--b{
  visibility: hidden;
}

/*footer*/

.footer{
  background-color: rgb(44,197,244, 80%);
  padding: 1.5rem;
  padding-block: 5rem;
  padding-bottom: 10rem;
}

.footer h2{
  text-transform:uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
}

 
  

  

 
  

/*tablet*/
@media screen and (min-width: 650px){
  .header__title{
    margin-left:40vh;
    margin-top: -20vh;
  }

  p{
    font-size: var(--step-0);
  }

  .header__sub{
    visibility: visible;
    margin-left: 44vh;
    margin-top: 2vh;
    font-size: 1.5rem;
  }

  .header__button{
    margin-top: -15vw;
    margin-inline: 30vw;
  }

  .paris__intro h2{
    font-size: 7rem;
  }

  .paris__intro p{
    font-size: 5rem;
    line-height: 5rem;
    margin-left: 35vw;
    margin-top: 30vh;
  }

  .paris__text{
    width: 60vw;
  }

  .interaction{
    margin-top: -20vh;
  }

  .eifeltoren{
    margin-left: 50vw;
  }

  .interaction__call{
    font-size: 6rem;
  }

  .paris__button{
    margin-top: 20rem;
    margin-left: 30vw;
  }

  .trapezoid{
    height: 30vw;
  }

  .paris__outro{
    width: 50vw;
  }

  .family{
    margin-bottom: 0vw;
    height: 50vh;
  }

  .family h2, .workshop h2{
    font-size: 5rem;
  }

  .family__img--a{
    height: 40vh;
    margin-top: -5vh;
    margin-left: 45vw;
  }

  .family__img--b{
    height: 20vh;
    margin-top: 20vw;
    margin-left: 35vw;
  }

  .family__text{
    margin-top: -30vh;
    width: 50vw;
    height: 30vh;
  }

  .workshop{
    margin-top: 0vh;
  }

  .workshop__intro{
    height: 40vh;
  }

  .workshop p{
    width: 60vw;
  }

  .workshop__print{
    margin-left: 60vw;
    margin-top: -50vw;
  }

  .workshop__planet{
    margin-left: 60vw;
    margin-top: -40vw;
  }

  .workshop__text{
    margin-top: -15vh;
  }

  .workshop__paper{
    margin-left: -40vw;
    margin-top: -5vh;
  }

  .answer h2{
    font-size: 4rem;
  }

  .answer__intro{
    width: 60vw;
  }

  .answer__img{
    margin-top: -15vh;
    margin-left: -10vw;
  }

  .anwser__outro{
    margin-top: -1rem;
    padding-left:40vw ;
    padding-block: 4rem;
  }

  .cta h2{
    font-size: 3rem;
    line-height: 3.5rem;
    width: 70vw;
    margin-left: 5rem;
  }
  .cta p{
    width: 60vw;
    margin-left: 5rem;
  }
}


/*computer*/
  @media screen and (min-width: 1024px){

    .circle {
      z-index: 999;
      --cursor-size: 200px;
      position: fixed;
      width: var(--cursor-size);
      height: var(--cursor-size);
      background-color: var(--color-primary);
      opacity: 70%;
      border-radius: 100%;
      top: calc(-1 * var(--cursor-size) / 2);
      left: calc(-1 * var(--cursor-size) / 2);
      pointer-events: none;  
    }

    #red1 , #red2, #red3, #red4, #red5, #red6, #red7, #red8 {
      mask-image: radial-gradient(circle, black 100px, white 101px);
      -webkit-mask-image: radial-gradient(circle, black 100px, white 101px); /* For Safari */
      /* Optional additional properties */
      mask-size: cover;
      mask-position: center;
      mask-repeat: no-repeat;
  }


    p {
      font-size: var(--step--1);
    }

    

    .menu{
      background-color: var(--color-background);
        display: block;
        position: fixed;
        top: 100vh;
        transform: rotate(-90deg);
        width: 100vh;
        height: 3.5rem;
        transform-origin: left top;
        border-bottom: #290500 7px solid;
        padding-bottom: 0vh;
     
    }

    .menu__list{
      display: flex;
      flex-flow: row-reverse;
      justify-content: space-between;
    }

    .header__content, .main{
      margin-left: 5.8rem;
    }

    .pilars{
      height: 115vh;
      margin-left: 0vw;
    }

   .press{
      height: 100vh;
      width: auto;
      margin-left: 0vh;
    }

    .header__title{
     font-size: 6.5rem;
     text-align: left;
     margin-left: 40vw;
    }

    .header__sub{
      margin-left: 40vw;
    }

    .header__button{
      width: 10rem;
      margin-top: -5vw;
      margin-inline: 70vw;
    
    }

    .paris__intro{
      grid-template-columns: 60% 40%;
      margin-left: 0vw;
    }

    .paris__intro h2{
      grid-column: 1;
      width: 70vw;
      font-size: 5rem;
      margin-top: 7rem;
      margin-left: 5vw;
      text-align: left;
      
    }

    .em{
      font-size: 6rem;
      font-weight: 800;
    }

    br{
      display: none;
    }


    .paris__intro img, .paris__intro p{
      grid-column: 2;
      margin-left: 0vw;
    }

    .paris__intro p{
      font-size: 4rem;
      line-height: 4rem;
      width: 20vw;
      margin-left: 12vw;
    }

   

    .paris__intro img{
      height: 70vh;
    }

    img.paris__img{
      margin-left: -5vw;
    }

    .paris__text{
      width: 40vw;
      margin-left: 7vw;
    }

    .paris__text--a{
      margin-top: -45vh;

      margin-bottom: 20vh;
    }

    .paris__text--b{
      margin-left: 20vw;
    }

    .trapezoid{
      border-top: 25vh solid transparent;
    }

    .interaction{
      grid-template-columns: 40% 60%;
    }

    .eifeltoren{
      grid-column: 1;
      margin-left: -10vw;
      margin-top: 20vh;
      height: 230%;
    }

    .interaction__call{
      grid-column: 2;
      grid-row: 2;
      font-size: 4rem;
      margin-top: -30vh;
      margin-left: 0vw;
    }

    .paris__button{
      grid-column: 2;
      rotate: -20deg;
      margin-bottom: -30vh;
      margin-left: 10vw;
    }

    .paris__outro{
      grid-column: 2;
      width: 30vw;
      margin-left: 10vw;
      margin-top: 20vh;
    }

    /*family*/

    .family{
      grid-template-columns: 60vw 40vw;

      margin-bottom: 30vh;
    }

    .family h2{
      margin-top: 10vh;
    }

    .family__img--a{
      height:70vh;
      margin-left: 0vw;
    }

    .family__img--b{
      height: 35vh;
      margin-top: 30vh;
      margin-left: -10vw;
    }

    .family__text{
      
      margin-top: -25vh;
      margin-left: 7vw;
      width: 40vw;
    }

    /*workshop*/

    .workshop__intro{
      grid-template-columns: 10% 40% 50%;
      grid-template-rows: 30vh 10vh;
      margin-left: 0vw;
    }

    .workshop__img{
      grid-column: 2;
      grid-row: 1;
      margin-left: 0vw;
    }

    .blue__eye{
      margin-top: -5vh;
    }
    
    .workshop__title{
      grid-column: 2;
      grid-row: 2;
      margin-top: -10vh;
      margin-left: 20vw;
      font-size: 5rem;
    }

    .workshop p{
      width: 35vw;
      margin-left: 25vw;
    }

    .workshop__print, .workshop__planet{
    margin-left: 65vw;
    }

    .workshop__text{
     margin-bottom: -40vh;
    }

    .workshop__paper{
     position: relative;
      left: 20vw;
      top:-30vh;
    }

    .workshop__paper--a{
      position: relative;
      left: 5vw;
      top:-30vh;
    }

    .answer{
      margin-top: -25vh;
    }

    .answer h2{
      font-size: 6rem;
      margin-left: 40vw;
    }

    .antwerp__img{
      width: 100vw;
      margin-left: 5vw;
    }

  .answer__intro{
    width: 40vw;
    margin-left: 50vw;}


    .anwser__outro{
      margin-top: -1rem;
      padding-inline: 30vw;
      padding-block: 5rem;
    }

    .cta__img{
      position: relative;
      rotate: 90deg;
      top:-20vh;
    }

    .cta__img--b{
      rotate: 180deg;
      visibility: visible;
      margin-top: -20vh;
      margin-left: 75vw;
    }

    .cta h2{
      font-size: 4rem;
      line-height: 4.5rem;
      width: 60vw;
      margin-top: -20vh;
      margin-left: 5vw;
    }

    .cta p{
      width: 40vw;
      margin-left: 5vw;
      padding-bottom: 15vh;
    }

    .footer{
      padding-left: 15rem;
    }

    .footer h2{
      font-size: 2rem;
    }

    
  }
